/* 全局样式 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* 标题样式 */
header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header .title-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    margin: 0;
    text-shadow: 4px 4px 8px #000;
}

header .logo {
    max-width: 100px;
    margin-left: 20px;
}

/* 导航样式 */
nav {
    background-color: #333;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.nav-links {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
    margin: 0;
}

.nav-links li {
    margin: 0;
}

.nav-links li a {
    color: #fff;
    padding: 1rem;
    text-decoration: none;
    display: block;
}

.nav-links li a:hover {
    background-color: #555;
}

/* 下拉菜单样式 */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    top: 100%;
    left: 0;
    min-width: 150px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: white;
    padding: 12px;
    display: block;
    text-decoration: none;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* 主要内容样式 */
main {
    padding: 2rem;
    background-color: #f9f9f9;
}

.club-list {
    list-style: none;
    padding: 0;
}

.club-item {
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

.join-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.join-btn:hover {
    background-color: #218838;
}

/* 底部样式 */
footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}


.footer-links {
    display: flex;
    justify-content: center;
}

.footer-links a {
    color: #4CAF50;
    margin: 0 1rem;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #ddd;
}
