/* 全局样式 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* 页眉样式 */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-top: auto;
}

/* 页眉内容样式 */
.header-content p {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: auto; /* 将页眉内容置于 header 顶部 */
}

.header-content .btn {
    margin-bottom: 0; /* 去除按钮下方的外边距 */
}

/* 导航样式 */
nav {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
}

.nav-links li {
    flex: 1; /* 均分宽度 */
    border-left: 1px solid #fff; /* 添加左边框 */
    border-right: 1px solid #fff; /* 添加右边框 */
    margin-right: -1px;
}

.nav-links li:first-child {
    border-left: none; /* 去除第一个元素的左边框 */
}

.nav-links li:last-child {
    border-right: none; /* 去除最后一个元素的右边框 */
}

.nav-links li a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    margin: 0 10px;
}

.nav-links li a:hover {
    background-color: #555;
}

/* 登录表单样式 */
section#login {
    text-align: right;
    margin-top: 50px;
}

form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    text-align: center;
    width: 400px;
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

/* 页脚样式 */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer a {
    color: #4CAF50;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


/* 创意页眉样式 */
.creative-header {
    background-image: url('../image/7.jpg'); /* 替换为你喜欢的背景图像 */
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

/* 页眉内容样式 */
.header-content p {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 0px;
    font-weight: bold;
    
}

.header-content .btn {
    margin-bottom: 0; 
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ff4500;
}
